os: linux
dist: focal
language: java
services:
  - docker
  - mysql
jdk: openjdk11
addons:
  hosts:
    - mariadb.example.com
    - mariadb2.example.com

before_install:
  - git clone https://github.com/mariadb-corporation/connector-test-machine.git
env: packet=40 local=0 clear_text_plugin=0 RUN_LONG_TEST=true
install:
  - |-
    case $TRAVIS_OS_NAME in
      windows)
        choco install openjdk11 maven
        export PATH=$(cmd.exe //c "refreshenv > nul & C:\Progra~1\Git\bin\bash -c 'echo \$PATH' ")
        connector-test-machine/launch.bat -t "$srv" -v "$v" -d testr2
        ;;
      linux)
        source connector-test-machine/launch.sh -t "$srv" -v "$v" -d testr2 -n 1 -l "$local" -p "$packet" -c "$clear_text_plugin"
        ;;
    esac

stages:
  - Minimal
  - name: Enterprise
    if: type = push AND fork = false
  - Community

jobs:
  fast_finish: true
  allow_failures:
    - env: srv=build
    - env: srv=xpand
  include:
    - stage: Minimal
      env: srv=mariadb v=10.6 local=1
      name: "CS 10.6"
    - env: srv=mariadb-es v=10.6
      name: "ES 10.6"
      if: type = push AND fork = false

    - stage: Enterprise
      env: srv=mariadb-es v=10.4
      name: "ES 10.4"
    - env: srv=mariadb-es v=10.5
      name: "ES 10.5"
    - env: srv=maxscale
      name: "Maxscale"
    - env: srv=skysql
      name: "SkySQL"
    - env: srv=skysql-ha
      name: "SkySQL with replication"
    - env: srv=xpand
      name: "Xpand"

    - stage: Community
      env: srv=mariadb v=10.6
      os: windows
      language: shell
      name: "CS 10.6 - Windows"
    - env: srv=mariadb v=10.3 local=1
      name: "CS 10.3"
    - env: srv=mariadb v=10.4 local=1
      name: "CS 10.4"
    - env: srv=mariadb v=10.5 local=1
      name: "CS 10.5"
    - env: srv=mariadb v=10.7 local=1 clear_text_plugin=1
      name: "CS 10.7"
    - env: srv=mariadb v=10.8 local=1
      name: "CS 10.8"
    - env: srv=mariadb v=10.6 NO_BACKSLASH_ESCAPES=true
      name: "CS 10.6 - NO_BACKSLASH_ESCAPES"
    - env: srv=mariadb v=10.6 BENCH=1
      name: "Benchmarks"
    - env: srv=mysql v=5.7
      name: "MySQL 5.7"
    - env: srv=mysql v=8.0
      name: "MySQL 8.0"
    - env: srv=build
      name: "CS build"

script:
  - mvn clean -Dmaven.test.skip > /dev/null
  - if [ -n "$BENCH" ] ; then mvn package -P bench -Dmaven.test.skip; fi
  - if [ -n "$BENCH" ] ; then java -Duser.country=US -Duser.language=en -DTEST_PORT=$TEST_DB_PORT -DTEST_HOST=$TEST_DB_HOST -DTEST_USERNAME=$TEST_DB_USER -DTEST_PASSWORD=$TEST_DB_PASSWORD -jar target/benchmarks.jar; fi
  - if [ -z "$BENCH" ] ; then MAVEN_SKIP_RC=true MAVEN_OPTS="-Xmx2g -XX:MaxPermSize=512m" mvn test -P continuous-integration -DjobId=${TRAVIS_JOB_ID}; fi


after_script:
  - bash <(curl -s https://codecov.io/bash)
