<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ SPDX-License-Identifier: Apache-2.0
  ~ Copyright (c) 2020-2022 MariaDB Corporation Ab
  -->
<configuration>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %-20.20thread | %5p | %logger{25} | %m%n
            </pattern>
        </encoder>
    </appender>

    <logger level="ERROR" name="org.mariadb.r2dbc"/>
    <logger level="ERROR" name="io.netty.buffer"/>
    <logger level="ERROR" name="reactor.ipc.netty"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
